* {
    font-family: "Poppins", sans-serif;
  }
  
  .color1 {
    color: greenyellow;
  }
  
  .color2 {
    color: #534858;
  }
  
  .bgcolor1 {
    background: #181D31;
  }
  
  .bgcolor2 {
    background: #ffb30e;
  }
  
  .user-card-image1 {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 28%;
  }
  
  .user-card-image2 {
    display: block;
    z-index: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -75px;
  }
  
  .food-card-image {
    width: 150px;
    height: 150px;
    border: 3px solid #ea345a;
    background-color: white;
  }
  
  .food-card {
    background-color: #fefaf1;
  }

  /* Addition */
  .tc1{
    color: #ffffff;
  }
  .nob{
    border: 0px;
  }
  .bg1{
    background-color:whitesmoke ;
  }
  .bg2{
    background-color:#ea345a ;
  }
  .bg3{
    background-color:#31343d ;
  }
  .bg4{
    background-color:#72a8ba ;
  }
  